In [20]:
import pandas as pd
import statistics
import math

In [21]:
inp_df=pd.read_csv('heart.csv')

In [ ]:
57,140,241
63,145,233

In [7]:
inp_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [91]:
L_yes=inp_df['target'].value_counts()[0]
L_no=inp_df['target'].value_counts()[1]

In [67]:
def probs(x,meanval,var):
    num=math.exp(-((x-meanval)**2)/(2*(var**2)))
    deno=math.sqrt(2*math.pi*(var**2))
    probVal=num/deno
    return probVal

In [68]:
def GaussBayes(x,data,feature,target):
    probv={}
    targetClass1=data[target].unique()[0]
    targetClass0=data[target].unique()[1]
    dfnew1 = data[data[target]==targetClass1]
    dfnew0 = data[data[target]==targetClass0]
    mean1=statistics.mean(dfnew1[feature])
    mean0=statistics.mean(dfnew0[feature])
    var1=statistics.variance(dfnew1[feature])
    var0=statistics.variance(dfnew0[feature])
    print(mean1,mean0,var1,var0)
    p_yes=probs(x,mean1,var1)
    P_no=probs(x,mean0,var0)
    return p_yes,P_no
        # probv[1][i]=data[feature].unique()[i]
        # probv[2][i]=data[feature].unique()[i]

In [ ]:
age, trestbps, choles

In [ ]:
57,140,241
63,145,233

In [130]:
yes,no=GaussBayes(63,inp_df,'age','target')
print(yes,no)

52.4969696969697 56.60144927536232 91.2149297856615 63.39474240981699
0.004344752793833191 0.006261014248770599

In [131]:
yes,no=GaussBayes(145,inp_df,'trestbps','target')
print(yes,no)

129.3030303030303 134.3985507246377 261.4563932002956 350.8108008039776
0.0015230989344626143 0.0011366815280411207

In [132]:
yes,no=GaussBayes(233,inp_df,'chol','target')
print(yes,no)

242.23030303030302 251.08695652173913 2867.910051736881 2445.758806728023
0.00013910485579014562 0.00016311149344802928

In [135]:
yes=0.004*0.0015*0.00013
no=0.006*0.0011*0.00016

In [136]:
print(yes*(L_yes/L_yes+L_no),no*(L_no/L_yes+L_no))

1.2948e-07 1.7550260869565219e-07